[opener]
play = [
	{ run = 'open -a /Applications/nPlayer.app %s', orphan = true, for = "unix" },
]

edit = [
	{ run = 'nvim %s', block = true, for = "unix" },
]

open = [
	{ run = 'nvim %s', block = true, for = "unix" },
]

cursor = [
	{ run = 'cursor %s', orphan = true, for = "unix" },
]

[open]
rules = [
	# Folder
	{ url = "*/", use = [ "edit", "open", "reveal" ] },
	# Text
	{ mime = "text/*", use = [ "edit", "reveal" ] },
	# Image
	{ mime = "image/*", use = [ "open", "reveal" ] },
	# Media
	{ mime = "{audio,video}/*", use = [ "play", "reveal" ] },
	# Archive
	{ mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = [ "extract", "reveal" ] },
	# JSON
	{ mime = "application/{json,ndjson}", use = [ "edit", "reveal" ] },
	{ mime = "*/javascript", use = [ "edit", "reveal" ] },
	# Empty file
	{ mime = "inode/empty", use = [ "edit", "reveal" ] },

	{ url = "*.mp4", use = [ "play", "reveal" ] },
	# Fallback
	{ url = "*", use = [ "open", "reveal" ] },
]
